Predicted[[:space:]]Genes[[:space:]]of[[:space:]]Trichuris[[:space:]]Species/Whole[[:space:]]Genomes[[:space:]]of[[:space:]]Reference[[:space:]]Species/*.fa filter=lfs diff=lfs merge=lfs -text
Whole[[:space:]]Genome[[:space:]]T.[[:space:]]incognita/*.fasta filter=lfs diff=lfs merge=lfs -text
